@use './header';
@use './footer';

$color__orange: #d74100;
$font__primary: Arial, sans-serif;

html, body, h1,h2,h3,h4,h5,h6, p, ul, li, button{
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,li{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:root { /*add root level*/
 --airbnb-pink: #FF385C;
}
body{
    /*background-color:navajowhite;*/
    background-color:$color__orange;
}
.logo{ 
    width: 150px;
    height: auto; 
    fill: #FF385C;
}
header h1{
    font-size: 2.5rem;
}
nav{
    //background-color: $color__orange;
    ul{
        display: flex;
        gap:1rem;
        li {
            a{
                font-family: $font__primary;
                font-weight: bold;
                font-size: 1rem;
                color: black;
                text-decoration: none;
                &:hover,
                &:focus {
                    color: $color__orange;
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn-ui{
    padding: 1rem;
    background-color:transparent;
    cursor: pointer;
}
.btn-ui svg{
    width: 2rem;
    height: auto;
    border: 1px var(--airbnb-pink);
}
.overlay {
    width: 100vw; /*v = viewport*/
    height: 100vh;
    background-color: beige;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition: all .5s;
}
.overlay.active{
    left: 0;
}

.room{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px solid black;
}
.room--name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.room--description{
    font-size: 1rem;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.category{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.category h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
