header{
    background-color: whitesmoke;
    padding: 1rem; /*rem = root front size, 1 rem = 16px*/ /*use metric quater 3/4*/
    display: flex;
    justify-content: space-between; /* space thing evenly*/
    align-items: center;/* center yourself at axis point*/
}