.room{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px solid black;
    &--name {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    &--description{
        font-size: 1rem;
        font-weight:lighter;
        font-family: Arial, Helvetica, sans-serif;
    }
}